Dataset(
    name: "Known Bugs",
    description: "Known bugs and workarounds",

    records: [
        // Odyssey DLC Performance Impact
        (
            identifiers: [
                PackageId("ludeon.rimworld.odyssey")
            ],
            notices: [
                (
                    date: "2025-08-26",
                    notice: BadPerformance("Update 1.6.4566 introduced a performance regression. If you are playing with Odyssey and no grav engine is present on the current map, the game will constantly search for one, scaling with the number of pawns present. As a workaround, simply place a grav engine using dev mode anywhere on the map."),
                    certainty: High,
                    historical: true
                )
            ]
        ),
        // Map Mode Framework Issues - 05/22/2026 - contr: tsind
        (
            identifiers: [
                PackageId("nozome.mapmodeframework"),
                WorkshopId(3296654393)
            ],
            notices: [
                (
                    date: "2026-05-22",
                    notice: Unstable("Map Mode Framework seems to have been abandoned in early development already and is now commonly causing hard crashes and broken saves for users."),
                    certainty: High,
                ),
                (
                    date: "2026-05-22",
                    notice: UseAlternative("Map Mode Framework Forked", 3672467706, "Changing from the original mod to the bug-fixed fork by 'ColossalFossil' reportedly fixes all major issues. It's not 100% certain yet if it works flawlessly, but it's definitely more stable than the original."),
                    certainty: Medium,
                ),
            ]
        )
    ]
)
